- var img = 'max-width:100%;height:auto;border:0;';
- var h1 = 'font-size:24px;font-weight:700;line-height:28px;color:#008bd1;margin: 0 0 20px 0;';
- var h1__large = 'font-size:36px;font-weight:700;line-height:40px;color:#008bd1;margin: 0 0 20px 0;';
- var p = 'font-size:14px;font-weight:400;line-height:22px;color:#525252;margin: 0 0 15px 0;';

- var container = 'padding:0 5px 0 5px;';

- var social__icon = 'font-size:12px;font-weight:400;line-height:14px;color:#008bd1;display:inline-block;vertical-align:top;margin-right:16px;text-decoration:none;';
- var social__profile = 'font-size:14px;font-weight:400;line-height:16px;color:#008bd1;display:inline-block;vertical-align:top;text-decoration:none;';
- var menu__link = 'font-size:12px;font-weight:400;line-height:12px;color:#fff;text-decoration:none;';