extends blocks

block meta
  - var title = 'Лучшие предложения за этот месяц, баннеры';

block divider
  div(style=container)
    +banner('banner-1.png','Шиномонтаж в<br>Ростове-на-Дону','Записаться на сайте')
    +banner('banner-8.png','Прокатка<br>дисков','Записаться на сайте', '248px', '34', '#fff')