extends positions

block meta
  - var title = 'Морозы уже не за горами. Подготовь свой автомобить к зиме!';

block header
  div(style=container)
    div(style="height:300px;margin:0 0 8px 0;padding:32px 32px 0 32px;overflow:hidden;box-sizing:border-box;border-radius:8px;background-image:url(img/header/header-6.png);background-repeat:no-repeat;background-position:center top;background-size:100% auto;")
        span(style="display:block;margin:0 0 32px 0;font-size:24px;line-height:28px;font-weight:bold;color:#008BD1;") Морозы уже не за
          br
          |горами. Подготовь
          br
          |свой автомобить к
          br
          |зиме!        
        span(style="width:200px;display:block;font-size:16px;font-weight:400;line-height:18px;color:#fff;") Стеклоомывающая жидкость от самых известных производителей!

block pos
  - var cards = [{src: '../img/content/card-1.png', title: 'Незамерзающая стеклоомывающая жидкость "BIOEXPERT" (-15 С)'},{src: '../img/content/card-2.png', title: 'WURTH Жидкость стеклоомывателя незамерзающая -20 3,78 л'},{src: '../img/content/card-3.png', title: 'RUSEFF Жидкость для стеклоомывателя Зимний -18°С. 4 л'},{src: '../img/content/card-4.png', title: 'RUSEFF Жидкость для стеклоомывателя Windscreen washer'}]
  table(style="margin:0 0 8px 0;" width="100%" height="100%" border="0" cellspacing="0" cellpadding="0")
    tr
      each cards__item in cards
        td(style="width:25%;height:100%;align-items:top;")
          +card(cards__item.src,cards__item.title,'Узнать цену')

block divider
block category
  div(style=container)
    div(style="padding:0 32px 0 32px;")
      h1(style=h1) Вам так же может быть интересно:
  - var category = [{bg: 'category-15.png', title: 'щётки', color: '#0079B6'},{bg: 'category-16.png', title: 'свечи зажигания', color: '#0079B6'},{bg: 'category-6.png', title: 'Автохимия', color: '#0079B6'},{bg: 'category-7.png', title: 'Автомасла', color: '#0079B6'}]
  table(style="margin:0 0 16px 0;" width="100%" height="100%" border="0" cellspacing="0" cellpadding="0")
    tr
      each category__item in category
        td(style="width:25%;height:100%;align-items:top;")
          +category(category__item.bg,category__item.title,category__item.color)