extends positions__season_winter

block meta
  - var title = 'Не забудьте переобуться, лето';

block header
  div(style=container)
    div(style="height:236px;margin:0 0 8px 0;padding:48px 32px 0 32px;overflow:hidden;box-sizing:border-box;border-radius:8px;background-image:url(img/header/header-8.png);background-repeat:no-repeat;background-position:center top;background-size:100% auto;")
        span(style="display:block;margin:0 0 22px 0;font-size:24px;line-height:28px;font-weight:bold;color:#fff;") Здравствуйте!
          br
          |Не забудьте переобуться,
          br
          |запишитесь онлайн на сайте:
        a(href="#" style="width:248px;padding:8px 8px 8px 8px;display:inline-block;align-items:top;font-size:16px;line-height:22px;font-weight:600;color:#fff;text-align:center;text-transform:uppercase;box-sizing:border-box;text-decoration:none;border-radius:8px;background-color:#008BD1;") Записаться на сайте